<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="">
  <title>Detalles</title>
</head>
 <body>
  <div class="container">
    <br>
       <a href="ventana1" class="btn btn-primary btn-lg" data-toggle="modal">Detalles</a>
       <div class="modal face" id="ventana1">
          <div class="modal-dialog">
             <div class="modal-content">
               <!-- Header de la ventana  -->
               <div class="modal-header">
                  <button tyle="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          
                  <h4 class="modal-title">Detalles de  compra</h4>
                </div>
                <!--contenido de la ventana-->
                <div class="modal-body">
                  <p>Fecha de la compra:</p>
                  <p>Producto</p>
                  <p>Cantidad</p>
                  <p>Precio</p>
                  <p></p>
                </div>
                <!--Footer de la ventana-->
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss>Cerrar</button>
                </div>
                <!--Caja de comentarios-->
                <div class="container">
                  <div class="comentarios">
                    <div class="col=12">
                      <form action="" class="form_comentarios">
                        <textarea name="" id="" placeholder="Comentarios"></textarea>
                        <button class="btn" type="button">Comentar</button>
                      </form>
              
                    </div>

                  </div>
               </div>
            </div>
         </div>
       </div>
       </div>
 </body>
</html>