<nav>
    <ul class="navbar navbar-expand-sm navbar navbar-dark bg-primary">
        <img src="assets/logo.png" width="140" height="100"  alt="">
        <li><a href="nosotros"><span class="fas fa-users"></span>
     <span class="tab-text">Nosotros</span></a></li>
        <li><a href="servicios"><span class="fas fa-desktop">
     </span><span class="tab-text">Servicios</span></a></li>
     <li><a href="contacto"><span class="fa fa-phone">
         <span class="tab-text"></span>Contacto</span></a></li>
     
         <nav class="navbar  bg-primary ml-auto">
            <a class="navbar-brand"></a>
            <form class="form-inline">
              <input class="form-control ml-sm-2" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-secondary my-10 my-sm-8" type="submit">Buscar</button>
            </form>
          </nav>
  <br><br>
  