
<div class="wrapper fadeInDown">
  <div id="formContent">
   

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/logo.png" id="icon" alt="User Icon" />
    </div>

   
    <form [formGroup] = "loginForm" (ngSubmit)="Onlogin(loginForm.value)">
      <input type="text" id="usuario" class="fadeIn second" placeholder="Usuario" formControlName="usuario">
      <input type="password" id="contra" class="fadeIn third" placeholder="Contraseña" formControlName="contra">
      <input type="submit" class="fadeIn fourth" value="Log In" scr="../dashboard/dashboard.html">
    </form>

  <div class="alert alert-danger" *ngIf="errorsuccess">
    <p>{{ errorMsj }}</p>
  </div>

  </div>
</div>