<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>
<style type="text/css">
table, th, td {
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
</style>
<body>
  
  <header>
   
    <h1>Previo compras</h1>
   

    <br>
    <table style="width: 100%">
      <th>Folio:</th>
      <th>Provedor:</th>
      <th>Fecha:</th>
      <th>Almacen:</th>
      
    </table>
    <br>
    <br>
    <table style="width: 100%"  >
      <tr>
        <th class="table-secondary">Cantidad</th>
        <th class="table-secondary">Artículo</th>
        <th class="table-secondary">Descripción</th>
        <th class="table-secondary">Costo</th>
        <th class="table-secondary">Importe</th>
      </tr>
      <tr>
        
        <td>10</td>
        <td>03-002</td>
        <td>Saco de cal Azteca</td>
        <td>1,000,000</td>
        <td>10,000,00</td>
  
      </tr>
      <tr>
        
        <td>10</td>
        <td>03-002</td>
        <td>Saco de cal Azteca</td>
        <td>1,000,000</td>
        <td>10,000,00</td>
  
      </tr>
      <tr>
        <div class="container">
          <div class="comentarios">
            <div class="col=60">
              <form action="" class="form_comentarios">
                <textarea name="" id="" placeholder="Comentarios"></textarea>
                <button class="btn btn-secondary" type="button">Comentar</button>
              </form>
      
            </div>
  
          </div>
       </div>
       
    </table>
  </header>
  
</body>
</html>