<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <div class="header" style="background-image: url(assets/fondo2.gif)">
    <img src="assets/logo.png" style="width: 250px, height 150px;" alt="">
    <h1 style="color: rgb(0, 0, 0);">¡¡Tenemos lo que necesitas!!</h1>
  </div>

  <div class="card-columns">
    <div class="card bg-primary">
      <div class="card-body text-center"><span class="fas fa-desktop"></span>
        <div class="container">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Soporte Remoto
          </button>
          
          <!-- The Modal -->
          <div class="modal" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Soporte Remoto</h4><span class="fas fa-desktop" style="margin: 10px;"></span>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  Conexión web directa a la computadora del cliente para diagnóstico y resolución de problemas.
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  <div class="card bg-dark">
      <div class="card-body text-center"><span class="fas fa-building"></span>
        <div class="container">
          <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal2">
            Soporte En Sitio
          </button>
          
          <!-- The Modal -->
          <div class="modal" id="myModal2">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Soporte En Sitio</h4><span class="fas fa-building" style="margin: 10px;"></span>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  Atención presencial cuando las incidencias no han podido ser resueltas de forma remota.
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

    <div class="card bg-success">
      <div class="card-body text-center"><span class="fas fa-server"></span>
        <div class="container">
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal3">
            Instalación de servidores
          </button>
          
          <!-- The Modal -->
          <div class="modal" id="myModal3">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Instalación de servidores</h4><span class="fas fa-server" style="margin: 10px;"></span>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  Evaluación, planeación y puesta a producción de infraestructura tecnológica.
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
          </div>
        </div> 
      </div>
  </div>

  <div class="card bg-danger">
      <div class="card-body text-center"><span class="fas fa-users"></span>
        <div class="container">
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal4">
            Capacitación
          </button>
          
          <!-- The Modal -->
          <div class="modal" id="myModal4">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Capacitación</h4><span class="fas fa-users" style="margin: 10px;"></span>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  Orientación a nuestros clientes para la incorporación a las nuevas herramientas.
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
          </div>
        </div> 
      </div>
  </div>

  <div class="card bg-secondary">
      <div class="card-body text-center"><span class="fas fa-print" ></span>
        <div class="container">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal5">
            Productos Adicionales
          </button>
          
          <!-- The Modal -->
          <div class="modal" id="myModal5">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Productos Adicinales</h4><span class="fas fa-print" style="margin: 10px;"></span>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  Herramientas web para la consultoría de facturación electrónica, de fácil y rápida utilización para los usuarios.
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
          </div>
        </div> 
      </div>
  </div>

  <div class="card bg-info">
      <div class="card-body text-center"><span class="fas fa-download"></span>
        <div class="container">
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal6">
            Actualizaciones
          </button>
          
          <!-- The Modal -->
          <div class="modal" id="myModal6">
            <div class="modal-dialog">
              <div class="modal-content">
          
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Actualizaciones</h4><span class="fas fa-download" style="margin: 10px;"></span>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
          
                <!-- Modal body -->
                <div class="modal-body">
                  Evaluación, planeación y puesta a producción de infraestructura tecnológica.
                </div>
          
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
          
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</body>
</html>