<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body>

<div class="header" style="background-image: url(assets/fondonosotros.jpg);">
  <img src="assets/logo.png" style="width: 250px, height 150px;" alt="">
  <h1 style="color: rgb(0, 0, 0);">¡¡Tenemos lo que necesitas!!</h1>
</div>

<div class="topnav">
  
  
  <div class="navbar  bg-primary ml-auto">
    <a class="navbar-brand"></a>
    <form class="form-inline">
      <input class="form-control ml-sm-2" id="myInput" type="search" placeholder="Buscar" aria-label="Search">
      <div id="myDIV"></div>
      <button class="btn btn-secondary my-10 my-sm-8" type="submit">Buscar</button>
      
    </form>
  </div>
 
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card" style="background-image: url(assets/fondoblanco.jpg)">
      <h2>¿Quienes Somos?</h2>
      <h5>Arisoft Marzo, 2021</h5>
      <img class="card-img-top" src="assets/logo.png" style="height:200px;" alt="Card image">
      <p>Arisoft es una empresa 100% mexicana fundada en el año 2008 en Los Mochis, Sinaloa,
        con el propósito de distribuir soluciones en tecnología de información y servicios especializados
         de consultoría para la automatización de procesos.</p>
    </div>
    <div class="card" style="background-image: url(assets/fondonosotros)">
      <h2>Nuestra Misión</h2>
      <br>
        <img class="card-img-top" src="assets/mision.png" style="height:200px;" alt="Card image">
      <p>En Arisoft..</p>
      <p>Nuestra mision es proveer soluciones confiables e innovadoras de calidad reconocida en tecnología de información. 
        Ser reconocidos por la ética, calidad y capacidad profesional de nuestros productos y servicios.</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card" style="background-color: lightblue;">
      <h2>Visión</h2>
      <img class="card-img-top" src="assets/vision.jpg" style="height:100px;" alt="Card image">
      <p>Ser la empresa líder en distribución de productos y servicios en tecnología de información, satisfaciendo
        las necesidades de nuestros clientes, brindando soluciones de calidad y consultoría de alto nivel, para 
        facilitar la administración de procesos y la toma de decisiones.</p>
    </div>
    <div class="card" style="background-color: lightblue;">
      <h3>Nuestros Valores</h3>
     <li>Responsabilidad</li>
     <li>Confidencialidad</li>
     <li>Ética</li>
     <li>Leltad</li>
     <li>Innovación y mejora continua</li>
    </div>
    <div class="card" style="background-color: lightblue;">
      <h3>Conoce más de nosotros</h3>
      <p>Navega por la página para que conozca sobre nuestros servicios, contactos, etc..</p>
    </div>
  </div>
</div>


<div class="footer">
  <h2>Copyright 2021. Todos los derechos reservados Arisoft. Los Mochis, Sinaloa, México.</h2>
</div>

</body>
</html>
